body {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  /* font-family: 'Roboto', sans-serif; */
}

.container {
  width: calc(100% - 126px);
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 24px;
}

.navigation nav {
  display: flex;
}
.navigation a {
  font-size: 24px;
  line-height: 30px;
  color: #B08EAD;
  margin-left: 40px;
}
.navigation a:first-child {
  margin-left: 0;
}
.navigation a:last-child {
  margin-left: 45px;
}