* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: calc(1440px - 226px);
    margin-right: auto;
    margin-left: auto;
}

.designer .container {
    max-width: calc(1440px - 262px);
}

.shipping .container {
    max-width: calc(1440px - 634px);
}

@media (max-width: 1220px) {   
    .container {
        padding-right: 10px;
        padding-left: 10px;
    }
}