body {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    /* font-family: 'Roboto', sans-serif; */
}

.container {
    width: calc(100% - 126px);
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}