.about {
    background-color: #CEB3CB;

    &__items {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    &__item {
        background-color: #B08EAD;
        width: 440px;
        padding: 124px 58px 119px 63px;
    }

}