.collection {
    position: relative;
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: #D6BBD3;

    &::after {
        position: absolute;
        content: '';
        right: 162px;
        bottom: 0;
        width: 50px;
        height: 50px;
        background-color: #A78BA4;
        z-index: 0;
    }

    &::before {
        position: absolute;
        content: '';
        right: 112px;
        bottom: 0;
        width: 50px;
        height: 50px;
        background-color: #B08EAD;
    }

    img {
        margin-left: 65px;
        max-width: 100%;
    }

    &__items {
        position: relative;
        z-index: 1;
    }

    &__item {
        position: absolute;
        top: 110px;
        right: 0;
        width: 425px;
        max-width: 100%;
        padding: 124px 105px 119px 40px;
        background-color: #B08EAD;
    }
}

@media (max-width: 991px) {
    .collection {

        img {
            margin-left: 0;
        }

        &__items {
            display: flex;
            justify-content: center;
        }

        &__item {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: .8;
        }
    }
}

@media (max-width: 575px) {
    .collection {

        &__item {
            text-align: center;
            padding: 40px 40px 40px 40px;
        }
    }
}