.designer {
    padding-top: 75px;
    padding-bottom: 75px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subitems {
        display: flex;
        justify-content: space-between;
    }

    &__subitem {
        background-color: #CEB3CB;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.1);
            transition: all 0.3s;
        }
    }

    .title__subtext {
        margin-top: 13px;
        margin-bottom: 17px;
        width: 747px;
    }

    .title__btn {
        margin-bottom: 50px;
    }

    &__link {
        display: inline-flex;
        font-weight: 400;
        font-size: 17px;
        line-height: 30px;
        color: #FFFFFF;
        margin-bottom: 24px;
        margin-left: 23px;
    }
}

@media (max-width: 1199px) {
    .designer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .designer__subitems {
        flex-direction: column;
        align-items: center;
    }

    .designer__subitem {
        max-width: 368px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 10px;
        }
    }

    .designer .title__btn {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {

    .designer {

        .title__subtext {
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
    .designer__subitem {

        img {
            width: 100%;
        }
    }
}