.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px;   
    margin-bottom: 24px;    
}

.navigation {

    nav {
        display: flex;        
    }
   
    a {        
        font-size: 24px;
        line-height: 30px;
        color: #B08EAD;
        margin-left: 40px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-left: 45px;            
        }
    }
}

@media (max-width: 1240px) {
    .header {
        flex-direction: column;   
    }

    .navigation {
        margin-top: 15px;
    }
}